$red: #e4130c;
$grey: #cfcfcf;
$skyblue: #0479c9;
$borderGrey: 1px solid #dbdbdb;
$borderBlack: 1px solid black;
$borderRed: 1px solid #e4130c;

//media screen size
$breakpoint-mobile-s: 378px;
$breakpoint-mobile: 480px;
$breakpoint-tablet-s: 576px;
