@import "_variables";
@import "_mixins";

.goods {
  section {
    padding-bottom: 30px !important;
    .wrapper {
      padding: 0;
      .goods__category {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-collapse: collapse;
        border-bottom: 2px solid black;
        a {
          @include flex-center;
          padding: 15px 20px;
          color: #444;
          background: white;
          border: $borderGrey;
          border-top: 0;
          &:not(:nth-child(3n-2)) {
            margin-left: -1px;
          }
        }
      }
      .goods__filter {
        border-top: 10px solid #dbdbdb;
        width: 100%;
        display: flex;
        flex-direction: column;
        .filter-type {
          display: flex;
          button {
            width: 50%;
            padding: 12px 20px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: $borderGrey;
            font-size: 1.05em;
            &::after {
              content: "\f067";
              display: inline-block;
              font-family: "Font Awesome\ 5 Free";
              font-weight: 900;
              font-size: 0.9em;
              color: #999;
            }
            &:first-child {
              border-right: $borderGrey;
            }
            &.active {
              background: #f2f2f2;
              border-bottom-color: #f2f2f2;
              &::after {
                content: "\f068";
                color: $red;
              }
            }
          }
        }
        .filter-cont {
          .cont {
            display: none;
            grid-template-columns: repeat(2, 1fr);
            border-bottom: $borderGrey;
            padding: 5px 20px 10px;
            gap: 2px 3px;
            &.active {
              display: grid;
            }
            button {
              padding: 5px 0;
              text-align: left;
              color: #555;
              font-size: 0.96em;
              &.checked {
                border-radius: 20px;
                color: $red;
              }
            }
            &.active {
              background: #f2f2f2;
            }
          }
        }
        &#checked {
          display: none;
          grid-template-columns: 1fr 50px;
          border: none;
          .cont {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            padding: 10px;
            div {
              background: $red;
              color: white;
              padding: 0 10px;
              font-size: 0.9em;
              border-radius: 3px;
              button {
                padding: 5px 0;
                margin-left: 5px;
                color: white;
                font-size: 0.9em;
              }
            }
          }
          &.on {
            display: grid;
          }
          .reset-btn {
            background: none;
            padding: 0;
            width: 100%;
            display: flex;
            align-items: center;
            border-right: 1px solid #cfcfcf;
            &::before {
              display: none;
            }
            i {
              padding: 0 10px;
            }
          }
        }
      }
      .goods__event-banner {
        width: 100%;
        color: white;
        position: relative;
        overflow: hidden;
        .slide {
          ul {
            display: flex;
            width: 300%;
            transition: transform 0.3s;
          }
        }
        .pagination {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform: translateX(-50%);
          gap: 8px;
          li {
            .dot {
              width: 10px;
              height: 10px;
              background: #e9e9e9;
              border-radius: 50%;
              &.active {
                background: #555;
              }
            }
          }
        }
      }
      .goods__list {
        // padding: 10px;
        .list-pick {
          margin-bottom: 10px;
          padding: 10px;
          .pick-item {
            display: flex;
            justify-content: space-between;
            .view-item-num {
              display: flex;
              button {
                border: $borderGrey;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 6px;
                &.active {
                  background: #cfcfcf;
                }
              }
            }
            select {
              padding: 5px;
            }
          }
        }
        .list-box {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 40px;
          .list-item {
            .item-wrap {
              position: relative;
              a {
                .best-icon {
                  position: absolute;
                  top: -28px;
                  align-items: center;
                  font-weight: bold;
                  color: $red;
                  span {
                    padding: 1px 10px 3px;
                    background: $red;
                    color: white;
                    margin-right: 6px;
                    border-radius: 5px 5px 0 0;
                    font-size: 1.25em;
                  }
                  strong {
                    font-family: "Roboto", sans-serif;
                    font-size: 1.8em;
                  }
                }
                .goods__img {
                  border: $borderGrey;
                  width: 100%;
                  padding-bottom: 100%;
                  position: relative;
                  img {
                    width: 90%;
                    height: 90%;
                    margin: 5%;
                    position: absolute;
                    object-fit: cover;
                  }
                }
                .goods__text {
                  margin-top: 10px;
                  display: flex;
                  flex-direction: column;
                  font-family: "Roboto", "Noto Sans KR", sans-serif;
                  letter-spacing: -0.03em;
                  .goods-name {
                    margin-bottom: 10px;
                    height: 2.6em;
                    line-height: 1.3;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                  }
                  .goods-price {
                    order: 1;
                    display: flex;
                    align-items: center;
                    margin-bottom: 3px;
                    color: #777;
                    font-size: 0.95em;
                    s {
                      margin-right: 3px;
                    }
                  }
                  .goods-sale {
                    order: 3;
                    font-size: 0.95em;
                    b {
                      font-size: 1.35em;
                    }
                  }
                }
              }
              .goods-cart {
                order: 2;
                grid-row: span 2;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                padding-right: 5px;
                margin-top: 10px;
                font-size: 1.6em;
                cursor: pointer;
                position: absolute;
                bottom: 3px;
                right: 0;
                color: #555;
                &:hover {
                  color: $red;
                }
                &.on {
                  color: $red;
                }
              }
            }
            .goods__sale-text {
              background: black;
              word-break: keep-all;
              margin-top: 15px;
              padding: 5px 15px;
              border-radius: 0 15px 15px 15px;
              display: none;
              justify-content: space-between;
              align-items: center;
              font-family: "Roboto", "Noto Sans KR", sans-serif;
              &.red {
                background: none;
                border-radius: 0;
                flex-direction: column;
                padding: 0;
                font-size: 0.95em;
                letter-spacing: 0;
                p {
                  padding: 2px 5px;
                  text-align: center;
                  width: 100%;
                  margin-bottom: 2px;
                  background: $red;
                  color: white;
                }
                span {
                }
              }
              .event-text {
                color: yellow;
                letter-spacing: 1px;
              }
              .event-price {
                color: red;
                b {
                  font-size: 1.4em;
                }
              }
            }
            &.best-item {
              .item-wrap {
                a {
                  .best-icon {
                    display: flex;
                  }
                }
              }
            }
            &.sale-event .goods__sale-text {
              display: flex;
            }
          }
          &.column {
            padding: 0 10px;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px 10px;
            margin-bottom: 30px;
            .list-item {
              &:nth-child(n + 16) {
                display: none;
              }
            }
          }
          &.row {
            padding: 0;
            grid-template-columns: 1fr;
            gap: 10px;
            .list-item {
              border-bottom: 8px solid #e9e9e9;
              padding-bottom: 20px;
              position: relative;
              &:last-child {
                border-bottom: 0;
              }
              .item-wrap {
                padding: 0 20px;
                a {
                  display: flex;
                  gap: 20px;
                  .goods__img {
                    width: 150px;
                    padding-bottom: 150px;
                    border: none;
                  }
                  .goods__text {
                    justify-content: space-between;
                    margin: 25px 0 20px;
                    width: calc(100% - 190px);
                    .goods-name {
                      font-size: 1.18em;
                      max-height: 2.6em;
                      overflow: hidden;
                      margin-bottom: 20px;
                    }
                    .goods-price {
                      font-size: 1.05em;
                      margin-bottom: 5px;
                    }
                    .goods-sale {
                      font-size: 1.1em;
                    }
                  }
                }
                .goods-cart {
                  bottom: 20px;
                  right: 20px;
                }
              }
              .goods__sale-text {
                position: relative;
                margin-top: 0;
                margin-left: auto;
                margin-right: 20px;
                width: calc(100% - 150px - 60px);
                .event-price {
                  margin-left: 20px;
                  b {
                    margin-right: 2px;
                    font-size: 1.3em;
                  }
                }
              }
            }
          }
        }
        .list-box-more {
          padding: 0 15px;
          margin-top: 20px;
          button {
            width: 100%;
            padding: 10px;
            border: 1px solid $grey;
            color: #666;
            font-size: 1.1em;
            font-weight: bold;
          }
        }
      }
    }
  }
}

/* media-query */
@include tablet-s {
  #container section {
    .goods__category {
      grid-template-columns: repeat(2, 1fr);
      a {
        &:not(:nth-child(3n-2)) {
          margin-left: 0;
        }
        &:nth-child(2n) {
          margin-left: -1px;
        }
      }
    }
    .goods__list {
      .list-box {
        &.column {
          grid-template-columns: repeat(2, 1fr);
          gap: 40px 20px;
          .list-item {
            &:nth-child(n + 13) {
              display: none;
            }
          }
        }
        &.row {
          padding: 0 !important;
          .list-item {
            padding: 0 10px 20px;
            .item-wrap {
              padding: 0 5px;
            }
            .goods__sale-text {
              width: calc(100% - 150px - 40px);
            }
          }
        }
      }
      .list-box-more {
        button {
          width: 100%;
          padding: 10px;
          font-size: 1.1em;
          font-weight: bold;
        }
      }
    }
  }
}
@include mobile {
  #container section {
    .wrapper {
      .goods__list {
        .list-box {
          padding: 10px 15px;
          .list-item {
            .goods__sale-text {
              &.red {
                p,
                span {
                  font-size: 0.9em;
                }
              }
              .event-text {
                font-size: 0.95em;
                font-weight: normal;
              }
              .event-price {
                b {
                  font-size: 1.3em;
                }
              }
            }
          }
          &.column {
            gap: 40px 15px;
          }
          &.row {
            gap: 10px;
            .list-item .item-wrap {
              a {
                gap: 10px;
                .goods__img {
                  width: 120px;
                  padding-bottom: 120px;
                }
                .goods__text {
                  width: calc(100% - 150px);
                  .goods-name {
                    font-size: 1.05em;
                    margin-bottom: 10px;
                  }
                  .goods-price {
                    font-size: 0.9em;
                  }
                  .goods-sale {
                    font-size: 1em;
                  }
                }
              }
            }
            .goods__sale-text {
              width: 100%;
              .event-price {
                margin-left: 10px;
              }
            }
          }
        }
        .list-box-more {
          margin: 0;
        }
      }
    }
  }
}
@include mobile-s {
}
