@import "_variables";
@import "_mixins";

.login,
.join {
  section {
    padding-bottom: 30px !important;
    .login-box,
    .join-box {
      width: 100%;
    }
  }
}
.login {
  section {
    .login-box {
      padding: 30px 10px 0;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      .login-form {
        form {
          // display: grid;
          // grid-template-columns: 3fr 1.6fr;
          gap: 10px 15px;
          .text-box {
            margin-bottom: 10px;
            input {
              width: 100%;
              padding: 10px 8px;
              border: $borderGrey;
              &:first-child {
                margin-bottom: 5px;
              }
            }
          }
          .check-box {
            display: flex;
            align-items: center;
            input {
              width: 18px;
              height: 18px;
              margin-right: 5px;
            }
            label {
              margin-right: 15px;
            }
          }
          .login-btn {
            background: $red;
            width: 100%;
            margin: 15px 0 10px;
            padding: 8px;
            font-size: 1.2em;
            color: white;
            font-weight: bold;
            &:hover {
              background: #d3100a;
            }
          }
          a {
            display: flex;
            justify-content: flex-end;
            font-style: italic;
            color: $skyblue;
            letter-spacing: 0.5px;
            font-size: 0.9em;
            font-weight: bold;
          }
        }
      }
      .sns-login {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        border: $borderGrey;
        button {
          display: flex;
          align-items: center;
          border-bottom: $borderGrey;
          &:last-child {
            border-bottom: 0;
          }
          i {
            border-right: $borderGrey;
            width: 60px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &:nth-child(1) i {
            font-size: 2em;
            color: #1ec900;
          }
          &:nth-child(2) i {
            font-size: 1.4em;
            color: #492116;
          }
          &:nth-child(3) i {
            font-size: 1.6em;
            color: #385995;
          }
          &:nth-child(4) i {
            font-size: 1.8em;
            color: #333;
          }
          span {
            display: block;
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 1.3em;
            color: #aaa;
          }
        }
      }
      .non-member {
        border-top: 2px dotted #d8d6d6;
        margin-top: 20px;
        padding-top: 15px;
        form {
          display: flex;
          flex-direction: column;
          & > div:first-child {
            display: flex;
            align-items: center;
            font-size: 0.95em;
            p {
              margin-right: 10px;
            }
            input[type="checkbox"] {
              margin-left: 8px;
              width: 18px;
              height: 18px;
            }
          }
          .order-box {
            padding-top: 20px;
            display: none;
            flex-direction: column;
            gap: 5px;
            &.active {
              display: flex;
            }
            input {
              width: 100%;
              padding: 10px 8px;
              border: $borderGrey;
            }
            button {
              padding: 8px;
              font-size: 1.2em;
              margin: 10px 0;
              font-weight: bold;
              background: $red;
              color: white;
            }
          }
        }
      }
    }
    .join-text {
      text-align: center;
      a {
        margin-left: 5px;
        display: inline;
        color: $skyblue;
        font-weight: bold;
        font-style: italic;
        text-decoration: underline;
      }
    }
  }
}

.join {
  section {
    padding-top: 15px;
    .join-box {
      margin-bottom: 50px;
      .join-type {
        border-bottom: 2px solid black;
        padding-bottom: 10px;
        text-align: center;
        span {
          font-size: 1.1em;
          &.active {
            color: $red;
          }
          &:first-child {
            margin-right: 60px;
          }
        }
      }
      .join-form {
        margin-top: 10px;
        & > div {
          display: none;
          form {
            .info-required {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 5px;
              input,
              button {
                padding: 10px;
                border: $borderGrey;
              }
              label {
                margin: 5px 5px 10px;
                color: blue;
              }
              .password-text {
                display: none;
                margin: 2px 5px 8px;
                &.wrong {
                  color: $red;
                }
                &.right {
                  color: blue;
                }
              }
              .row-cont {
                grid-column: span 2;
              }
              input[type="number"]::-webkit-outer-spin-button,
              input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            }
            .for-business {
              display: flex;
              flex-direction: column;
              p {
                text-align: center;
                margin: 15px 0;
                display: flex;
                align-items: center;
                font-size: 1.2em;
                color: #666;
                &::before {
                  content: "";
                  display: block;
                  width: 4px;
                  height: 4px;
                  background: $red;
                  margin-right: 5px;
                }
              }
              div {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-content: space-around;
                gap: 5px;
                padding: 0 10px;
                span {
                  display: flex;
                  align-items: center;
                  input {
                    margin-right: 5px;
                    width: 15px;
                    height: 15px;
                  }
                }
              }
            }
          }
          &.active {
            display: block;
          }
        }
      }
      .join-btn {
        margin-top: 20px;
        width: 100%;
        padding: 10px 0;
        background: $red;
        color: white;
        font-weight: bold;
        font-size: 1.2em;
        &:disabled {
          background: #bdbdbd;
        }
      }
      .join-text {
        color: #888;
        line-height: 1.4;
        text-align: left;
        margin-top: 20px;
        font-size: 0.9em;
        a {
          display: inline-block;
          color: inherit;
          text-decoration: underline;
          font-weight: normal;
        }
      }
    }
  }
}

/* media-query */
@include tablet-s {
}
@include mobile {
}
@include mobile-s {
}
