@import "_variables";
@import "_mixins";

#container {
  padding-top: 102px;
  section {
    padding-bottom: 50px;
    position: relative;
    border-bottom: 10px solid #dbdbdb;
  }
  .section__title {
    font-size: 1.8em;
    text-align: center;
    padding: 40px 0 30px;
    margin: 0 auto;
    word-break: keep-all;
  }
}
.main {
  .hero-banner {
    border: 0 !important;
    padding-bottom: 0 !important;
    width: 100%;
    max-width: 768px;
    margin: auto;
    .slide-banner {
      width: 100%;
      overflow: hidden;
      .slide-list {
        width: 300vw;
        display: flex;
        transition: transform 0.3s;
        .slide-item {
          display: flex;
          width: 100%;
          a {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .pagination {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translatex(-50%);
      display: flex;
      gap: 7px;
      .dot {
        button {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: #e9e9e9;
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
        }
        &.dot_active {
          button {
            background: #222;
          }
        }
      }
    }
  }
  .event-banner {
    .main-event {
      position: relative;
      .event-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        gap: 5px;
        div {
          a {
            width: 100%;
          }
        }
      }
    }
    .more-btn {
      padding: 10px 20px;
      font-size: 1.2em;
      text-align: center;
      color: #444;
      margin-top: 20px;
      border: $borderBlack;
      i {
        font-size: 0.9em;
      }
    }
    .experience-event {
      margin-top: 30px;
      div {
        margin-bottom: 10px;
      }
    }
  }
  .main-product {
    .products {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px 15px;
      .item {
        .product__img {
          width: 100%;
          padding-bottom: 100%;
          position: relative;
          margin-bottom: 15px;
          border: $borderGrey;
          img {
            width: 90%;
            height: 90%;
            margin: 5%;
            position: absolute;
            object-fit: cover;
          }
        }
        .product__name {
          margin-bottom: 5px;
          line-height: 1.4;
          font-family: "Roboto", "Noto Sans KR", sans-serif;
        }
        .product__price {
          font-family: "Roboto", "Noto Sans KR", sans-serif;
          b {
            font-size: 1.25em;
            font-weight: 700;
            letter-spacing: -0.05em;
          }
        }
      }
    }
  }
  .best-product {
    padding-bottom: 0 !important;
    article {
      border-bottom: 10px solid #dbdbdb;
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
        border: 0;
      }
      .link-btn {
        border: 1px solid black;
        padding: 3px 25px;
        border-radius: 30px;
        font-size: 1.1em;
        text-align: center;
        img {
          width: 40px;
          height: 40px;
          vertical-align: middle;
          object-fit: contain;
        }
      }
      .best__hashtag {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px 0 20px;
        gap: 0 15px;
        a {
          padding: 5px 0;
          font-size: 0.95em;
        }
      }
      .best__banner {
        padding: 0;
        p {
          font-size: 1.8em;
          font-weight: 100;
          margin: 5px 0 20px;
        }
        h4 {
          font-size: 2em;
          letter-spacing: -1px;
          font-weight: bold;
        }
      }
      .best__list {
        padding: 30px 0;
        ul {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 25px 15px;
          li {
            a {
              .product__img {
                width: 100%;
                padding-bottom: 100%;
                position: relative;
                margin-bottom: 15px;
                border: $borderGrey;
                img {
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  object-fit: cover;
                }
              }
              .product__name {
                margin-bottom: 5px;
                line-height: 1.4;
                font-family: "Roboto", "Noto Sans KR", sans-serif;
              }
              span {
                font-family: "Roboto", "Noto Sans KR", sans-serif;
                b {
                  font-size: 1.25em;
                  font-weight: 700;
                  letter-spacing: -0.05em;
                }
              }
            }
          }
        }
      }
    }
  }
}

.go-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: white;
  border: 1px solid #bbb;
  @include flex-center;
  // display: none;
  a {
    @include flex-center;
    flex-direction: column;
    color: #888;
    i {
      margin-top: -5px;
    }
  }
}

/* media-query */
@include tablet-s {
}
@include mobile {
}
@include mobile-s {
}
